/* ----------------- */
/* custom properties */
/* ----------------- */

:root {
	/* colors */
	--clr-neutral: 0 0% 100%;
	--clr-accent: 231 77% 90%;
	--clr-primary: 230 35% 7%;

	/* fonts */
	--fs-200: 0.875rem;
	--fs-300: 1rem;
	--fs-400: 0.935rem;
	--fs-500: 1.75rem;
	--fs-600: 1rem;
	--fs-700: 1.5rem;
	--fs-800: 3.5rem;
	--fs-900: clamp(5rem, 8vw + 1rem, 9.375rem);

	--ff-primary: "Barlow", sans-serif;
	--ff-accent: "Barlow Condensed", sans-serif;
	--ff-heading: "Bellefair", serif;
}

@media (min-width: 35em) {
	:root {
		--fs-400: 1rem;
		--fs-600: 1.5rem;
		--fs-700: 2.5rem;
		--fs-800: 5rem;
	}
}
@media (min-width: 45em) {
	:root {
		--fs-400: 1.125rem;
		--fs-600: 2rem;
		--fs-700: 3.5rem;
		--fs-800: 6.25rem;
	}
}
/* ----------------- */
/* Resets            */
/* ----------------- */
*,
*::before,
*::after {
	box-sizing: border-box;
}
/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
	margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 400;
}

body {
	min-height: 100vh;
	line-height: 1.5;
	font-family: var(--ff-primary);
	font-size: var(--fs-400);
	background-color: hsl(var(--clr-primary));
	color: hsl(var(--clr-neutral));

	display: grid;
	grid-template-rows: min-content 1fr;

	overflow: hidden;
}

img,
picture {
	max-width: 100%;
	display: block;
}

input,
button,
textarea,
select {
	font: inherit;
}

@media (prefers-reduced-motion: reduce) {
	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

/* ----------------- */
/* Utility classes   */
/* ----------------- */

/* accessibility */
.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap; /* added line */
	border: 0;
}

/* colors */
.bg-primary {
	background-color: hsl(var(--clr-primary));
}
.bg-accent {
	background-color: hsl(var(--clr-accent));
}
.bg-accent20 {
	background-color: hsl(var(--clr-accent) / 0.2);
}
.bg-neutral {
	background-color: hsl(var(--clr-neutral));
}

.text-primary {
	color: hsl(var(--clr-primary));
}
.text-accent {
	color: hsl(var(--clr-accent));
}
.text-neutral {
	color: hsl(var(--clr-neutral));
}

/* fonts */
.ff-primary {
	font-family: var(--ff-primary);
}
.ff-accent {
	font-family: var(--ff-accent);
}
.ff-heading {
	font-family: var(--ff-heading);
}

.uppercase {
	text-transform: uppercase;
}

.fs-200 {
	font-size: var(--fs-200);
}
.fs-300 {
	font-size: var(--fs-300);
}
.fs-400 {
	font-size: var(--fs-400);
}
.fs-500 {
	font-size: var(--fs-500);
}
.fs-600 {
	font-size: var(--fs-600);
}
.fs-700 {
	font-size: var(--fs-700);
}
.fs-800 {
	font-size: var(--fs-800);
}
.fs-900 {
	font-size: var(--fs-900);
}

.fs-600,
.fs-700,
.fs-800,
.fs-900 {
	line-height: 1.1;
}

.letter-spacing-1 {
	letter-spacing: 4.75px;
}
.letter-spacing-2 {
	letter-spacing: 2.7px;
}
.letter-spacing-3 {
	letter-spacing: 2.35px;
}

/* layouts */
.flex {
	display: flex;
	gap: var(--gap, 1rem);
}

.grid {
	display: grid;
	gap: var(--gap, 1rem);
}
.d-block {
	display: block;
}

.flow > *:where(:not(:first-child)) {
	margin-top: var(--flow-space, 1rem);
}

.container {
	padding-inline: 2rem;
	margin-inline: auto;
	max-width: 80rem;
}
.grid-container {
	display: grid;
	text-align: center;
	place-items: center;
	padding-inline: 1rem;
}
.grid-container * {
	max-width: 55ch;
}

@media screen and (min-width: 45em) {
	.grid-container {
		text-align: left;
		gap: 2rem;
		grid-template-columns: minmax(2rem, 1fr) repeat(2, minmax(0, 30rem)) minmax(2rem, 1fr);
	}
	.grid-container > *:first-child {
		grid-column: 2;
	}
	.grid-container > *:not(:first-child) {
		grid-column: 3;
	}
	.home .grid-container {
		padding-bottom: max(6rem, 20vh);
		align-items: end;
	}
}

.numbered-title {
	font-family: var(--ff-accent);
	font-size: var(--fs-500);
	text-transform: uppercase;
	letter-spacing: 4.72px;
}
.numbered-title span {
	margin-right: 0.5em;
	color: hsl(var(--clr-neutral) / 0.25);
	font-weight: 700;
}

/* ----------------- */
/* Components        */
/* ----------------- */
.cta-button {
	text-decoration: none;
	font-size: 2rem;
	padding: 0 1.5em;
	display: inline-grid;
	place-items: center;
	aspect-ratio: 1;
	border-radius: 50%;
	transition: box-shadow 500ms ease-in-out;
}

.cta-button:hover,
.cta-button:focus {
	box-shadow: 0 0 0 2em hsl(var(--clr-neutral) / 0.25);
}

/* Header navigation */
.primary-header {
	justify-content: space-between;
	align-items: center;
	--gap: 0;
}
.logo {
	margin: 1.5rem clamp(1.5rem, 5vw, 3.5rem);
}
.primary-navigation {
	--gap: clamp(1.5rem, 5vw, 4rem);
	--underline-gap: 2rem;
	list-style: none;
	padding: 0;
	margin: 0;
	background: hsl(var(--clr-primary) / 0.95);
}

@supports (backdrop-filter: blur(2rem)) {
	.primary-navigation {
		background: hsl(var(--clr-neutral) / 0.05);
		backdrop-filter: blur(2rem);
	}
}

.primary-navigation a {
	text-decoration: none;
}

.primary-navigation a > span {
	font-weight: 700;
	margin-right: 0.5rem;
}

.mobile-nav-toggle {
	display: none;
}

@media (max-width: 35em) {
	.primary-navigation {
		--underline-gap: 0.5rem;
		position: fixed;
		inset: 0 0 0 29%;
		z-index: 1000;
		padding: min(18rem, 13vh) 3rem;
		flex-direction: column;
		transform: translateX(100%);
		opacity: 0;
		transition: transform 450ms ease, opacity 450ms ease-in;
	}
	.primary-navigation[data-visible="true"] {
		transform: translateX(0);
		opacity: 1;
	}

	.primary-navigation.underline-indicators > .active {
		border: 0;
	}

	.mobile-nav-toggle {
		display: block;
		position: absolute;
		z-index: 1001;
		top: 2rem;
		right: 2rem;
		background: transparent;
		border: 0;
		background-image: url(./assets/shared/icon-hamburger.svg);
		background-position: center;
		background-repeat: no-repeat;
		width: 2rem;
		aspect-ratio: 1;
	}

	.mobile-nav-toggle[aria-expanded="true"] {
		background-image: url(./assets/shared/icon-close.svg);
	}

	.mobile-nav-toggle:focus-visible {
		outline: 5px solid white;
	}
}

@media (min-width: 35em) {
	.primary-navigation {
		padding-inline: clamp(3rem, 7vw, 7rem);
	}
}

@media (min-width: 35em) and (max-width: 45em) {
	.primary-navigation a > span {
		display: none;
	}
}

@media (min-width: 45em) {
	.primary-navigation {
		margin-block: 2rem;
	}
}

.underline-indicators > * {
	cursor: pointer;
	border: 0;
	padding: var(--underline-gap, 1rem) 0;
	border-bottom: 0.2rem solid hsl(var(--clr-neutral) / 0);
}

.underline-indicators > *:hover,
.underline-indicators > *:focus {
	border-color: hsl(var(--clr-neutral) / 0.5);
}

.underline-indicators > .active,
.underline-indicators > [aria-selected="true"] {
	color: var(--clr-neutral);
	border-color: hsl(var(--clr-accent) / 1);
}

.tab-list {
	--gap: 2rem;
}

.dot-indicators > * {
	cursor: pointer;
	border: 0;
	border-radius: 50%;
	aspect-ratio: 1;
	padding: 0.5rem;
	background-color: hsl(var(--clr-neutral) / 0.2);
}

.dot-indicators > *:hover,
.dot-indicators > *:focus {
	background-color: hsl(var(--clr-neutral) / 0.5);
}

.dot-indicators > [aria-selected="true"] {
	background-color: hsl(var(--clr-neutral) / 1);
}

.number-indicators > * {
	cursor: pointer;
	display: inline-block;
	padding: 0 1.5rem;
	border-radius: 50%;
	aspect-ratio: 1;
	border: 0.115rem solid hsl(var(--clr-neutral) / 0.5);
}

.number-indicators > *:hover,
.number-indicators > *:focus {
	border-color: hsl(var(--clr-neutral) / 1);
}

.number-indicators > [aria-selected="true"] {
	border-color: hsl(var(--clr-neutral) / 1);
}

/* -------------------- */
/* Pages backgrounds    */
/* -------------------- */

body {
	background-size: cover;
	background-position: bottom center;
}
/* Home */
.home {
	background-image: url(./assets/home/background-home-mobile.jpg);
}
@media (min-width: 35em) {
	.home {
		background-image: url(./assets/home/background-home-tablet.jpg);
	}
}
@media (min-width: 45em) {
	.home {
		background-image: url(./assets/home/background-home-desktop.jpg);
	}
}
